<%- include('header'); -%>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LfjHdYZAAAAAKro5cv3sgjHTzQO8A_FuLbuJ2Uh', { action: 'demo' })
            .then(function (token) {
                document.getElementById("recapInput").value = token;
            });
    });
</script>

<% if (error) { %>
<div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
        Fehler aufgetreten
    </div>
    <p>
        Aufgrund eines Fehlers konnte das Zitat nicht hinzugefügt werden.
    </p>
</div>
<% } %>

<div class="ui segment">
    <h1 class="ui header"><a href="/"><i class="angle left icon"></i></a>Zitat hinzufügen</h1>
</div>

<form action="/db/addQuote" method="post" class="ui large form">
    <div class="ui stacked segment">
        <div class="field">
            <label>Zitat</label>
            <textarea name="text"></textarea>
        </div>
        <div class="field">
            <label>Kurs</label>
            <select name="class" class="ui search dropdown">
                <% classes.default.forEach(element => { %>
                <option value="<%= element.acronym %>"><%= element.subject %> <%= element.teacher %>
                    (<%= element.acronym %>)</option>
                <% }) %>
            </select>
        </div>
        <div class="field">
            <label>Eingereicht von</label>
            <input type="text" name="submittedBy" placeholder="Name">
        </div>
        <input id="recapInput" type="hidden" name="recaptchaToken">
        <button type="submit" class="ui fluid large teal submit button">Absenden</button>
    </div>
</form>
<%- include('header'); -%>