<%- include('header'); -%>
<div class="ui segment">
    <h1 class="ui header"><a href="/"><i class="angle left icon" ></i></a>Aktuelle Zitate</h1>
</div>            

<% quotes.forEach(quote => { %>
<div class="ui segment">
    <h3 class="ui header"><%= quote.class %>, <%= quote.submittedBy %></h3>
    <p>
        <%= quote.text %>
    </p>
    <div class="ui action input clipboard-container">
        <input type="text" id="link-<%= quote._id %>" value="<%= BASE_URL %>/quote/<%= quote._id %>">
        <button class="ui icon button clipboard-link" data-clipboard-target="#link-<%= quote._id %>">
            <i class="copy icon"></i>
        </button>
      </div>
</div>    
<% }) %>            
<%- include('footer'); -%>