<%- include('header'); -%>
<div class="ui segment">
    <h1 class="ui header"><a href="/"><i class="angle left icon"></i></a>Zitat</h1>
</div>

<div class="ui segment">
    <h3 class="ui header"><%= quote.class %>, <%= quote.submittedBy %></h3>
    <p>
        <%= quote.text %>
    </p>
</div>
<%- include('footer'); -%>